footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.Mensagem{
    text-align: left;

}
.contatos{
    grid-column: 2;
    
    text-align: center;
}
.direitos{
    text-align: left;
}
#instagram{
    text-decoration: underline;
}