#formacao{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #c1c1c1;
   }
#formacao h2{
    width: 18rem;
    font-size: 8rem;
    word-break: break-all;
}
#formacao p{
    font-size: 1.5rem;
    text-align: center;
}
.graduacao{
    background-color: #9b9999;
}